@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebboldfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebthinfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanweblightfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebregularfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebmediumfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebextraboldfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebblackfanum.woff")
    format("woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("/mobile-shop/assets/fonts/woff/iranyekanwebextrablackfanum.woff")
    format("woff");
}
